<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="vanille">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>게시글 페이지</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>

    <header id="header">
        header 삽입부
        <hr>
    </header>

    <main id="post-main" class="container">
        <header id="post-header" class="py-5 text-center">
            <h1>첫번째 글</h1>
        </header>

        <div class="row g-5">

            <section class="col-md-5 col-lg-4 order-md-last">
                <aside>
                    <p><span id="username">작성자 : Vanille</span></p>
                    <p id="email">작성자 ID : vanille@gmail.com</p>
                    <p><time id="created-at" datetime="2022-01-01T00:00:00">작성일 : 2022-01-01</time></p>
<!--                    <p id="hashtag">#vanille</p>-->
                </aside>
            </section>

            <article id="post-content" class="col-md-7 col-lg-8">
                <p>본문<br><br></p>
            </article>
        </div>

        <div class="row g-5 pb-5 d-grid gap-2 d-md-block" id="article-buttons">
            <form id="delete-post-form">
                <div>
                    <a class="btn btn-success me-md-2" role="button" id="update-article">수정</a>
                    <button class="btn btn-danger me-md-2" id="delete-post" onclick="deletePost()">삭제</button>
                </div>
            </form>
        </div>

        <div class="row g-5">
            <section>
                <form id="content-form" method="post" class="row g-3 comment-form">
                    <input type="hidden" class="post-id">
                    <div class="col-md-9 col-lg-8">
                        <label for="comment-textbox" hidden>댓글</label>
                        <textarea class="form-control comment-textbox" id="comment-textbox" placeholder="댓글 쓰기.." maxlength="500" rows="3" required></textarea>
                    </div>
                    <div class="col-md-3 col-lg-4">
                        <label for="comment-submit" hidden>댓글 쓰기</label>
                        <button class="btn btn-primary" id="comment-submit" type="submit">쓰기</button>
                    </div>
                </form>

                <ul id="post-comments" class="row col-md-10 col-lg-8 pt-3">
                    <li class="parent-comment">
                        <form class="comment-form">
                            <input type="hidden" class="article-id">
                            <div class="row">
                                <div class="col-md-10 col-lg-9">
                                    <strong>Vanille</strong>
                                    <small><time>2022-01-01</time></small>
                                    <p class="mb-1">
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. <br>
                                        It has roots in a piece of classical Latin literature from 45 BC, <br>
                                        making it over 2000 years old.
                                    </p>
                                </div>
                                <div class="col-2 mb-3 align-self-center">
                                    <button id=delete type="submit" class="btn btn-outline-danger">삭제</button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </section>
        </div>

<!--        <div class="row g-5">-->
<!--            <nav id="pagination" aria-label="Page navigation">-->
<!--                <ul class="pagination">-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link" href="#" aria-label="Previous">-->
<!--                            <span aria-hidden="true">&laquo; prev</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link" href="#" aria-label="Next">-->
<!--                            <span aria-hidden="true">next &raquo;</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
<!--        </div>-->

    </main>

    <footer id="footer">
        <hr>
        footer 삽입부
    </footer>

    <script th:inline="javascript">

        let postId;

        function init() {
            postId = /*[[${postDetail?.id}]]*/
        }

        function deletePost() {
            $.ajax({
                type: "POST",
                url: "/board/delete/" + postId,
                data: null,
                beforeSend: function (jqXHR, settings) {
                    var header = $("meta[name='_csrf_header']").attr("content");
                    var token = $("meta[name='_csrf']").attr("content");
                    jqXHR.setRequestHeader(header, token);
                },
                success: function(data) {
                    alert(data);
                    window.location.replace("/board");
                },
                error: function(response) {
                    console.log("response = {}", response);
                    console.log(response.responseJSON.data);
                    if(response.responseJSON.data.includes('title')) {
                        alert("제목을 입력해주세요.");
                    } else if(response.responseJSON.data.includes('content')) {
                        alert("본문을 입력해주세요.");
                    }
                }
            })
        }


        init();
    </script>

</body>


</html>